@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

:root{
    --clr-background: #F3F4F9;
    --clr-display: #292224;
    --clr-green: #38d6c9;
    --corner-radius: 10px;
    --clr-number: #7790c2;
    --clr-shadow-1: #edeef3;
    --clr-shadow-2: #fafbff;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: var(--clr-background);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.calculator{
    height: 492.5px;
    width: 250px;
    border-radius: var(--corner-radius);
    background: var(--clr-display);
    /* box-shadow: 20px 20px 30px var(--clr-shadow-1),
                -20px -20px 30px var(--clr-shadow-2);    */
    box-shadow: 6px 6px 12px var(--clr-shadow-1),
                -6px -6px 12px var(--clr-shadow-2);
}



.display{
    background: var(--clr-display);
    height: 170px;
    padding: 0 20px;
    border-radius: var(--corner-radius);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.expression{
    max-height: 115px;
    margin-top: 20px;
    padding-bottom: 5px;
    overflow: auto;
    color: var(--clr-number);
    font-size: 18px;
    letter-spacing: 1px;
}

.result{
    color: white;
    text-align: right;
    font-size: 32px;
    font-weight: 500;
    min-height: 55px;
}

.btn-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    padding:30px 20px;
    border-radius: var(--corner-radius);
    background: var(--clr-background);
    
    border: 1px solid var(--clr-background);
}

.btn{
    height: 40px;
    aspect-ratio: 1;
    border-radius: var(--corner-radius);
    background: var(--clr-background);
    box-shadow: 5px 5px 10px #edeef3,
                -5px -5px 10px #fafbff;
    border: 1px solid var(--clr-background);
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: var(--clr-display);
    cursor: pointer;
}

.btn:active{
    box-shadow: inset 3.5px 3.5px 10px #edeef3,
                inset -3.5px -3.5px 10px #fafbff;
}

.number:active{
    color: #456bb6;
}

.number{
    color: var(--clr-number);
}

.btn:not(.btn-clear,.btn-equal,.number){
    color: gray;
}

.btn:not(.btn-clear,.btn-equal,.number):active{
    color: var(--clr-display);
}

.btn-clear{
    background: #ff6363;
    color: white;
}

.btn-clear:active{
    box-shadow: inset 3.5px 3.5px 10px #d95454,
                inset -3.5px -3.5px 10px #ff7272;
}

.btn-equal{
    background: var(--clr-green);
    color: white;
}

.btn-equal:active{
    box-shadow: inset 3.5px 3.5px 10px #30b6ab,
                inset -3.5px -3.5px 10px #40f6e7;
}
.fas{
    font-size: 16px!important;
}